* {
  box-sizing: border-box;
}
body {
  color: var(--colorMainBlack);
  background-color: #fff;
  width: 100%;
}
header {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgba(190, 189, 189, 0.678);
  background-color: #fff;
  z-index: 999;
}
.logo-content {
  margin-left: 31px;
  display: flex;
  align-items: center;
}
.logo-content img {
  margin-right: 8px;
}
.logo-content .content {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -4%;
  font-family: var(--colorSecondFont);
}
.navbar {
  margin-right: 33px;
}
.navbar ul {
  display: flex;
}
.navbar li {
  font-size: 18px;
  letter-spacing: -2%;
  font-weight: 700;
  font-family: var(--colorMainFont);
}
.navbar li:not(:first-child) {
  margin-left: 40px;
}
.navbar li:first-child {
  font-family: var(--colorSecondFont);
}
.navbar li:last-child {
  font-weight: 900;
  font-family: var(--colorMainFont);
}
.navbar li a {
  color: var(--colorMainBlack);
  padding: 10px;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.navbar li:last-child a {
  color: var(--colorMainGreen);
}
.navbar li a:hover {
  color: var(--colorMainGreen);
}
.navbar li:last-child a:hover {
  color: #fff;
  background-color: var(--colorMainGreen);
}
.main .div-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.first-child {
  height: 248px;
  width: 45%;
  margin: 265px 0 0 56px;
}
.last-child {
  height: 570px;
  width: 55%;
}
.leftSection {
  height: 100%;
  width: 100%;
  padding-right: 12px;
}
.title {
  width: 100%;
  margin-bottom: 24px;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  font-family: var(--colorMainFont);
  color: var(--colorMainBlack);
}
.description {
  width: 100%;
  color: #66645e;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  font-family: var(--colorSecondFont);
}
.imageSection {
  width: 100%;
  height: 100%;
  margin-top: 176px;
  filter: contrast(110%);
}
.imageSection img {
  width: 100%;
  padding-right: 13px;
}
.button {
  width: 219px;
  height: 64px;
  margin-left: 56px;
  margin-top: 49px;
  border-radius: 8px;
  padding: 20px 24px;
  background-color: var(--colorMainGreen);
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--colorSecondFont);
  cursor: pointer;
  box-shadow: 0 0 10px 0.5px var(--colorMainGreen);
  transition: transform 1s linear;
}
.button:hover {
  transform: scale(0.95, 0.95);
}
.navbar span {
  display: none;
}
