* {
  box-sizing: border-box;
}
body {
  color: var(--colorMainBlack);
  background-color: #fff;
  width: 100%;
  letter-spacing: -2%;
}
header {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgba(190, 189, 189, 0.678);
  background-color: #fff;
  z-index: 999;
}
.logo-content {
  margin-left: 31px;
  display: flex;
  align-items: center;
}
.logo-content img {
  margin-right: 8px;
}
.logo-content .content {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -4%;
  font-family: var(--colorSecondFont);
}
.navbar {
  margin-right: 33px;
}
.navbar ul {
  display: flex;
}
.navbar li {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--colorMainFont);
}
.navbar li:not(:first-child) {
  margin-left: 40px;
}
.navbar li:first-child {
  font-family: var(--colorSecondFont);
}
.navbar li:last-child {
  font-weight: 900;
  font-family: var(--colorMainFont);
}
.navbar li a {
  color: var(--colorMainBlack);
  padding: 10px;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.navbar li:last-child a {
  color: var(--colorMainGreen);
}
.navbar li a:hover {
  color: var(--colorMainGreen);
}
.navbar li:last-child a:hover {
  color: #fff;
  background-color: var(--colorMainGreen);
}
.main .div-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.first-child {
  height: 100%;
  width: 45%;
  margin: 265px 0 0 56px;
}
.last-child {
  display: flex;
  width: 55%;
}
.leftSection {
  height: 100%;
  width: 100%;
  padding-right: 12px;
}
.title {
  width: 100%;
  margin-bottom: 24px;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  font-family: var(--colorMainFont);
  color: var(--colorMainBlack);
}
.description {
  width: 100%;
  color: #66645e;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--colorSecondFont);
}
.imageSection {
  display: flex;
  width: 100%;
  margin-top: 176px;
  filter: contrast(110%);
}
.imageSection img {
  width: 100%;
  padding-right: 13px;
}
.button {
  width: 219px;
  height: 64px;
  margin-left: 56px;
  border-radius: 8px;
  padding: 20px 24px;
  background-color: var(--colorMainGreen);
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--colorSecondFont);
  cursor: pointer;
  box-shadow: 0 0 10px 0.5px var(--colorMainGreen);
  transition: transform 1s linear;
}
.button:hover {
  transform: scale(0.95, 0.95);
}
.navbar span {
  display: none;
}
.section1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 214px;
}
.section1-title {
  width: 60%;
}
.section1-description {
  width: 60%;
  margin-top: 24px;
  margin-bottom: 48px;
}
.section1-description p,
.section1-title p {
  text-align: center;
  font-weight: 400;
  font-family: var(--colorSecondFont);
  color: var(--colorMainBlack);
}
.section1-title p {
  font-weight: 900;
  font-size: 48px;
}
.section1-description p {
  font-size: 18px;
  line-height: 26px;
}
.card-container {
  margin: 0 56px 193px 56px;
  display: flex;
  flex-wrap: wrap;
}
.ellipse-card,
.polygon-card,
.star-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 0 2%;
}
.ellipse-card {
  margin-bottom: 2%;
}
.card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 64px 0 24px 0;
}
.card-image img {
  width: 104px;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 32px;
}
.card-title p {
  font-size: 24px;
  color: var(--colorMainGreen);
  font-weight: 700;
  font-family: var(--colorMainFont);
}
.card-description {
  width: 94%;
  height: 60px;
  margin-top: 25px;
}
.card-description p {
  font-size: 18px;
  line-height: 26px;
  color: var(--colorMainGreen);
  font-weight: 400;
  font-family: var(--colorSecondFont);
  text-align: center;
}
.section3 {
  display: flex;
  width: 100%;
  margin-bottom: 193px;
}
.feature-info {
  width: 60%;
  color: var(--colorMainBlack);
  margin: 0 138px 0 56px;
}
.members-widget {
  width: 40%;
  margin-right: 118px;
  border: 4px solid var(--colorMainBlack);
  border-radius: 16px;
}
.polell-title {
  width: 100%;
  margin: 24px 0;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  font-family: var(--colorMainFont);
}
.polell-description {
  width: 100%;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--colorSecondFont);
}
.members-title {
  margin: 32px 0 28px 40px;
  height: 40px;
  font-weight: 700;
  font-family: var(--colorSecondFont);
  line-height: 40px;
  font-size: 32px;
}
.Dillon,
.Anna,
.Kas {
  display: flex;
  align-items: center;
  margin: 28px 16px 0 40px;
}
.Kas {
  margin-bottom: 32px;
}
.Dillon img,
.Anna img,
.Kas img {
  border-radius: 36px;
  margin-right: 12px;
}
.user-info {
  width: 200px;
  height: 56px;
}
.user-name {
  width: 200px;
  height: 26px;
  margin-bottom: 4px;
  font-weight: 700;
  font-family: var(--colorMainFont);
  line-height: 26px;
  font-size: 24px;
}
.user-shares {
  width: 200px;
  height: 24px;
  font-weight: 400;
  font-family: var(--colorSecondFont);
  line-height: 26px;
  font-size: 16px;
}
.section4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 171px;
}
.jassir-jonis {
  margin-right: 0;
  margin-left: 80px;
}
.jassir-jonis-top {
  display: flex;
  align-items: center;
  margin: 28px 16px 24px 40px;
}
.jassir-jonis-image {
  width: 72px;
  object-fit: cover;
  border-radius: 36px;
  margin-right: 16px;
}
.jassir-jonis-center {
  margin: 0 40px 24px 40px;
  font: 400 16px var(--colorSecondFont);
  line-height: 24px;
}
.jassir-jonis-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-bottom: 32px;
}
.jassir-jonis-bottom div {
  font-weight: 400;
  font-family: var(--colorSecondFont);
}
.jonis-text {
  font-size: 16px;
  color: #66645e;
  margin-bottom: 12px;
  flex: 50%;
}
.jonis-count {
  font-size: 24px;
  color: var(--colorMainBlack);
  flex: 50%;
}
.jonis-button {
  width: 80%;
  padding: 4% 0;
  border-radius: 16px;
  margin: 32px 40px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 0 5px 0.8px var(--colorMainGreen);
  font: 700 24px var(--colorMainFont);
  transition: transform 1s linear;
  cursor: pointer;
}
.jonis-button:hover {
  transform: scale(0.95, 0.95);
}
.polygonelippse-sun img,
.polygonelippse-saturn img {
  width: 60px;
  border-radius: 30px;
}
.feature-info-sun {
  margin-right: 54px;
}
.feature-info-saturn {
  margin-right: 56px;
  margin-top: 100px;
}
.section5 {
  display: flex;
  margin: 0 61px 184px 0;
}
.alex-rose {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.alex-rose-top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 28px 59.5px 24px 59.5px;
  border: 4px solid var(--colorMainBlack);
  border-radius: 16px;
  line-height: 24px;
  margin-bottom: 13px;
}
.top-title {
  width: 80%;
  color: var(--colorMainBlack);
  font: 700 18px var(--colorMainFont);
  margin-bottom: 16px;
}
.share-button {
  height: 24px;
  border-radius: 10px;
  background-color: var(--colorMainGreen);
  font: 400 16px var(--colorSecondFont);
  color: #fff;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
  animation: share 2s linear 0.5s infinite alternate;
}
@keyframes share {
  to {
    background-color: var(--colorMainGreen);
  }
  from {
    background-color: brown;
  }
}
.top-description {
  width: 85%;
  font: 400 16px var(--colorSecondFont);
  color: var(--colorMainBlack);
  margin-bottom: 24px;
}
.alex-rose-left {
  flex: 3;
  border: 4px solid var(--colorMainBlack);
  border-radius: 16px;
  margin-right: 12px;
  padding: 32px 0 32px 40px;
  background-color: #f3f0ea;
}
.left-title {
  font: 700 24px var(--colorMainFont);
  color: var(--colorMainBlack);
  margin-bottom: 24px;
}
.Ulrich,
.Kwon,
.Rose {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.applicants_3 {
  width: 40px;
  border-radius: 50%;
  margin-right: 16px;
}
.applicants-name {
  font: 700 20px var(--colorMainFont);
}
.alex-rose-right {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 4px solid var(--colorMainGreen);
  border-radius: 16px;
  background-color: rgb(209, 168, 168);
  padding: 0 24px;
  width: 40%;
}
.big-image-rose {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.alex_rose_image {
  width: 72px;
  border-radius: 50%;
}
.alex-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}
.alex-info h3 {
  font: 700 20px var(--colorSecondFont);
  color: var(--colorMainBlack);
  margin-bottom: 4px;
}
.writer {
  margin-top: 16px;
  margin-left: -25px;
}
.alex-info p {
  font: 600 17px Arial;
  color: var(--colorMainGreen);
}
.view-button {
  width: 100%;
  padding: 12px 0;
  border-radius: 15px;
  border: none;
  font: 400 16px var(--colorSecondFont);
  background-color: var(--colorMainBlack);
  color: #fff;
  line-height: 20px;
  animation: view 2s linear 0.5s infinite alternate;
  cursor: pointer;
}
@keyframes view {
  to {
    background-color: var(--colorMainBlack);
  }
  from {
    background-color: rgb(157, 99, 185);
  }
}
.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.help-title {
  width: 70%;
  font: 900 48px var(--colorMainFont);
  color: var(--colorMainBlack);
  line-height: 64px;
  text-align: center;
  margin-bottom: 24px;
}
.help-description {
  width: 70%;
  font: 400 18px var(--colorSecondFont);
  color: var(--colorMainBlack);
  line-height: 26px;
  text-align: center;
  margin-bottom: 48px;
}
.help-boxs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 52px 0 52px;
}
.tutorial-video,
.updating {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(27, 25, 25, 0.418);
  border-radius: 16px;
  margin: 0 1%;
  margin-bottom: 64px;
}
.boxs-title {
  font: 700 22px var(--colorMainFont);
  color: var(--colorMainBlack);
  line-height: 24px;
  margin: 24px 24px 16px 24px;
}
.boxs-description {
  font: 400 16px var(--colorSecondFont);
  color: var(--colorMainBlack);
  line-height: 24px;
  margin: 0 24px 18px 24px;
}
.boxs-button {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 28px 24px;
}
.boxs-button button {
  cursor: pointer;
  background-color: var(--colorMainGreen);
  color: rgb(252, 243, 243);
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  letter-spacing: 1px;
  transition: background-color, color 1s 0s linear;
}
.boxs-button button:hover {
  background-color: brown;
  color: blue;
}
.boxs-button p {
  font: 700 16px var(--colorSecondFont);
  color: var(--colorMainBlack);
  line-height: 24px;
}
.view-more {
  color: #fff;
  padding: 20px 30px;
  background-color: var(--colorMainBlack);
  cursor: pointer;
  border-radius: 8px;
  transition: transform 1s linear;
}
.view-more:hover {
  transform: scale(0.95, 0.95);
}
.background {
  height: 156px;
  width: 100%;
  background-image: url(/assets/image/background-image.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.section7 {
  margin: 0 56px 130px 56px;
}
.section7-container {
  display: flex;
}
.last-leftSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 40px;
}
.last-imageSection {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.last-title {
  font: 900 48px var(--colorSecondFont);
  color: var(--colorMainBlack);
  line-height: 64px;
  margin-bottom: 24px;
  padding: 10px;
}
.last-description {
  font: 400 20px var(--colorSecondFont);
  color: var(--colorMainBlack);
  line-height: 26px;
  margin-bottom: 40px;
  padding: 10px;
}
.last-imageSection img {
  width: 100%;
}
.last-button {
  border-radius: 8px;
  padding: 20px 24px;
  background-color: var(--colorMainGreen);
  color: #ffff;
  font: 400 16px var(--colorSecondFont);
  cursor: pointer;
  box-shadow: 0 0 10px 0.5px var(--colorMainGreen);
  transition: transform 1s linear;
}
.last-button:hover {
  transform: scale(0.95, 0.95);
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 56px 44px 56px;
}
.footer-left {
  font: 700 24px var(--colorMainFont);
  line-height: 32.68px;
  letter-spacing: -4%;
  color: var(--colorMainBlack);
}
.footer-right {
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
}
.footer-list li:not(:last-child) a {
  font: 400 20px var(--colorSecondFont);
  color: var(--colorMainBlack);
  line-height: 24.36px;
  margin-right: 40px;
  transition: color 0.5s 0s linear;
}
.footer-list li:last-child a {
  padding: 10px;
  font: 700 20px var(--colorMainFont);
  color: var(--colorMainGreen);
  background-color: #fff;
  line-height: 24.36px;
  transition: background-color, color 2s 0s linear;
}
.footer-list li:not(:last-child) a:hover {
  color: var(--colorMainGreen);
}
.footer-list li:last-child a:hover {
  background-color: var(--colorMainGreen);
  color: #fff;
}
